.outer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 6vh; 
    width: 100vw;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    
}
.above{
    display: flex;
    flex-direction: row;
}
.icon{
    color: rgb(21, 127, 247);
    font-size: 3rem;
}
.below{
    background-color: rgb(228, 235, 238);
    width: 95vw;
    height: 45px;
    margin: auto;
    border-radius: 40px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
}
.fileName{
    height: 20px;
    border: none;
}
.fileName:focus{
    outline: none;
}
.partition{
    color: rgb(163, 163, 163);
    font-size: larger;
}
.textSizeBtn{
    border: none;
    background-color: rgb(228, 235, 238);
    font-size: 20px;
}
.textSizeBtn:hover{
    background: rgb(218, 218, 218);
}
.textSize{
    border: 1px solid rgb(205, 199, 199);
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}